@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --main: #141218;
    --secondary-bg: #49454F;
    --secondary-text: #CAC4D0;
  }

::-webkit-scrollbar {
    width: 0px;
  }

body {
    margin: 0;
    margin-bottom: 20vh;
    background-color: black;
    color: white;
}

.col {
    width: fit-content;
}
.text-head {
    font-family: "DM Serif Display";
}

.text-body {
    font-family: "DM Sans";
    font-weight: 600;
}

#navbar {
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 15vh;

    border-bottom: 1px, var(--secondary-bg);

    color: #ffffff;
}

.link {
    color: var(--secondary-text);
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: large;
}

.link:hover {
    color: white;
}

#body {
    background-color: black;
    z-index: 0;
}

p {
    width: fit-content;
    color: white;
    margin: 0px;
}

#opening {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    border: 1px solid var(--main);
    border-bottom-left-radius: 128px;
    border-bottom-right-radius: 128px;

    background-color: var(--main);
}

#opening-text {
    width: 50%;
    display: block;
    justify-items: center;
    align-content: center;
    padding: 4vh;
}

#MySkills {
    padding-top: 20vh;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: black;

    display: block;
    justify-items: center;
    align-content: center;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 8vw;
}

.skills-content {
    display: block;
    justify-items: center;
    align-content: center;
    text-align: center;
    font-family: "DM Sans";
    font-weight: 600;
    font-size: large;

    margin: 1vw;
}

.skill-img {
    height: 6rem;
    margin: 2vh;
    margin-bottom: 4vh;
}